.Orange {
  color: orange;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.Hire-Button {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(lightsalmon, tomato);
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 30px;
}

.Flexible-Container {
  display: flex;
  margin-bottom: 50px;
  text-align: justify;
}

.half {
  width: 50%;
  padding-left: 5%;
  padding-top: 1%;
}

.half img {
  width: 90%;
}

.welcome {
  font-size: 35px;
}

.Welcome-Area {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.Dream {
  font-size: 40px;
}

.Dream-Area p {
  font-weight: 500;
  width: 80%;
}

.Dream-Area {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.Experience {
  margin-left: 5%;
  font-size: 40px;
  display: block;
}

.Web-Dev {
  font-size: 40px;
}

footer p {
  text-align: center;
}

.Experience-Item {
  width: 40%;
  box-shadow: 20px 20px 50px gray;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 80px;
  text-align: justify;
  border-radius: 10px;
}

.Experience-Area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#Full-Stack {
  border-left: 5px solid;
  border-image: linear-gradient(blue, yellow);
  border-image-slice: 1;
}

#Baby-Web {
  border-left: 5px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
